AddKeysToAgent yes
# <- keyword
#              ^ constant.builtin.boolean

AddKeysToAgent no
# <- keyword
#              ^ constant.builtin.boolean

AddKeysToAgent true
# <- keyword
#              ^ constant.builtin.boolean

AddKeysToAgent false
# <- keyword
#              ^ constant.builtin.boolean

AddKeysToAgent=no
# <- keyword
#              ^ constant.builtin.boolean

AddKeysToAgent = "yes"
# <- keyword
#                 ^ constant.builtin.boolean
