AddressFamily any
# <- keyword
#             ^ constant.builtin.string

AddressFamily inet
# <- keyword
#             ^ constant.builtin.string

AddressFamily inet6
# <- keyword
#             ^ constant.builtin.string

AddressFamily=inet6
# <- keyword
#             ^ constant.builtin.string

AddressFamily = inet
# <- keyword
#               ^ constant.builtin.string

AddressFamily "any"
# <- keyword
#              ^ constant.builtin.string
