BatchMode yes
# <- keyword
#         ^ constant.builtin.boolean

BatchMode no
# <- keyword
#         ^ constant.builtin.boolean

BatchMode=no
# <- keyword
#         ^ constant.builtin.boolean

BatchMode "yes"
# <- keyword
#          ^ constant.builtin.boolean

BatchMode = "yes"
# <- keyword
#            ^ constant.builtin.boolean
