CanonicalizeHostname yes
# <- keyword
#                    ^ constant.builtin.string

CanonicalizeHostname no
# <- keyword
#                    ^ constant.builtin.string

CanonicalizeHostname true
# <- keyword
#                    ^ constant.builtin.string

CanonicalizeHostname false
# <- keyword
#                    ^ constant.builtin.string

CanonicalizeHostname always
# <- keyword
#                    ^ constant.builtin.string

CanonicalizeHostname none
# <- keyword
#                    ^ constant.builtin.string
