CanonicalizeFallbackLocal yes
# <- keyword
#                         ^ constant.builtin.boolean

CanonicalizeFallbackLocal no
# <- keyword
#                         ^ constant.builtin.boolean

CanonicalizeFallbackLocal true
# <- keyword
#                         ^ constant.builtin.boolean

CanonicalizeFallbackLocal false
# <- keyword
#                         ^ constant.builtin.boolean
