ChallengeResponseAuthentication yes
# <- keyword
#                               ^ constant.builtin.boolean

ChallengeResponseAuthentication no
# <- keyword
#                               ^ constant.builtin.boolean

ChallengeResponseAuthentication true
# <- keyword
#                               ^ constant.builtin.boolean

ChallengeResponseAuthentication false
# <- keyword
#                               ^ constant.builtin.boolean
