ChannelTimeout agent-connection=5m
# <- keyword
#              ^ constant.builtin.string
#                               ^ string.special.time

ChannelTimeout agent-connection=5m x11-connection=5m
# <- keyword
#              ^ constant.builtin.string
#                               ^ string.special.time
#                                  ^ constant.builtin.string
#                                                 ^ string.special.time

ChannelTimeout = agent-connection=5m
# <- keyword
#                ^ constant.builtin.string
#                                 ^ string.special.time
