ClearAllForwardings yes
# <- keyword
#                   ^ constant.builtin.boolean

ClearAllForwardings no
# <- keyword
#                   ^ constant.builtin.boolean

ClearAllForwardings true
# <- keyword
#                   ^ constant.builtin.boolean

ClearAllForwardings false
# <- keyword
#                   ^ constant.builtin.boolean
