ControlMaster yes
# <- keyword
#             ^ constant.builtin.string

ControlMaster no
# <- keyword
#             ^ constant.builtin.string

ControlMaster ask
# <- keyword
#             ^ constant.builtin.string

ControlMaster auto
# <- keyword
#             ^ constant.builtin.string

ControlMaster autoask
# <- keyword
#             ^ constant.builtin.string
