ControlPersist yes
# <- keyword
#              ^ type

ControlPersist no
# <- keyword
#              ^ type

ControlPersist 0
# <- keyword
#              ^ type

ControlPersist 180
# <- keyword
#              ^ type

ControlPersist 10m
# <- keyword
#              ^ type

ControlPersist 3h
# <- keyword
#              ^ type
