ControlPersist yes
# <- keyword
#              ^ constant.builtin

ControlPersist no
# <- keyword
#              ^ constant.builtin

ControlPersist 0
# <- keyword
#              ^ constant.builtin

ControlPersist 180
# <- keyword
#              ^ constant.builtin

ControlPersist 10m
# <- keyword
#              ^ constant.builtin

ControlPersist 3h
# <- keyword
#              ^ constant.builtin
