EnableSSHKeysign yes
# <- keyword
#                ^ constant.builtin.boolean

EnableSSHKeysign no
# <- keyword
#                ^ constant.builtin.boolean

EnableSSHKeysign true
# <- keyword
#                ^ constant.builtin.boolean

EnableSSHKeysign false
# <- keyword
#                ^ constant.builtin.boolean
