EnableEscapeCommandline yes
# <- keyword
#                       ^ constant.builtin.boolean

EnableEscapeCommandline no
# <- keyword
#                       ^ constant.builtin.boolean

EnableEscapeCommandline true
# <- keyword
#                       ^ constant.builtin.boolean

EnableEscapeCommandline false
# <- keyword
#                       ^ constant.builtin.boolean
