ExitOnForwardFailure yes
# <- keyword
#                    ^ constant.builtin.boolean

ExitOnForwardFailure no
# <- keyword
#                    ^ constant.builtin.boolean

ExitOnForwardFailure true
# <- keyword
#                    ^ constant.builtin.boolean

ExitOnForwardFailure false
# <- keyword
#                    ^ constant.builtin.boolean
