ForkAfterAuthentication yes
# <- keyword
#                       ^ constant.builtin.boolean

ForkAfterAuthentication no
# <- keyword
#                       ^ constant.builtin.boolean

ForkAfterAuthentication true
# <- keyword
#                       ^ constant.builtin.boolean

ForkAfterAuthentication false
# <- keyword
#                       ^ constant.builtin.boolean
