ForwardX11Trusted yes
# <- keyword
#                 ^ constant.builtin.boolean

ForwardX11Trusted no
# <- keyword
#                 ^ constant.builtin.boolean

ForwardX11Trusted true
# <- keyword
#                 ^ constant.builtin.boolean

ForwardX11Trusted false
# <- keyword
#                 ^ constant.builtin.boolean
