ForwardX11Timeout 30
# <- keyword
#                 ^ time

ForwardX11Timeout 30s
# <- keyword
#                 ^ time

ForwardX11Timeout 30M
# <- keyword
#                 ^ time

ForwardX11Timeout 30h
# <- keyword
#                 ^ time

ForwardX11Timeout 30D
# <- keyword
#                 ^ time

ForwardX11Timeout 30w
# <- keyword
#                 ^ time

ForwardX11Timeout 0
# <- keyword
#                 ^ time
