GSSAPITrustDns yes
# <- keyword
#              ^ constant.builtin.boolean

GSSAPITrustDns no
# <- keyword
#              ^ constant.builtin.boolean

GSSAPITrustDns true
# <- keyword
#              ^ constant.builtin.boolean

GSSAPITrustDns false
# <- keyword
#              ^ constant.builtin.boolean
