GSSAPIRenewalForcesRekey yes
# <- keyword
#                        ^ constant.builtin.boolean

GSSAPIRenewalForcesRekey no
# <- keyword
#                        ^ constant.builtin.boolean

GSSAPIRenewalForcesRekey true
# <- keyword
#                        ^ constant.builtin.boolean

GSSAPIRenewalForcesRekey false
# <- keyword
#                        ^ constant.builtin.boolean
