GSSAPIAuthentication yes
# <- keyword
#                    ^ constant.builtin.boolean

GSSAPIAuthentication no
# <- keyword
#                    ^ constant.builtin.boolean

GSSAPIAuthentication true
# <- keyword
#                    ^ constant.builtin.boolean

GSSAPIAuthentication false
# <- keyword
#                    ^ constant.builtin.boolean
