GSSAPIDelegateCredentials yes
# <- keyword
#                         ^ constant.builtin.boolean

GSSAPIDelegateCredentials no
# <- keyword
#                         ^ constant.builtin.boolean

GSSAPIDelegateCredentials true
# <- keyword
#                         ^ constant.builtin.boolean

GSSAPIDelegateCredentials false
# <- keyword
#                         ^ constant.builtin.boolean
