GSSAPIKeyExchange yes
# <- keyword
#                 ^ constant.builtin.boolean

GSSAPIKeyExchange no
# <- keyword
#                 ^ constant.builtin.boolean

GSSAPIKeyExchange true
# <- keyword
#                 ^ constant.builtin.boolean

GSSAPIKeyExchange false
# <- keyword
#                 ^ constant.builtin.boolean
