HashKnownHosts yes
# <- keyword
#              ^ constant.builtin.boolean

HashKnownHosts no
# <- keyword
#              ^ constant.builtin.boolean

HashKnownHosts true
# <- keyword
#              ^ constant.builtin.boolean

HashKnownHosts false
# <- keyword
#              ^ constant.builtin.boolean
