HostbasedAcceptedAlgorithms ssh-ed25519,ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521
# <- keyword
#                           ^ constant.builtin.string

HostbasedAcceptedAlgorithms +ssh-ed25519
# <- keyword
#                           ^ constant.builtin.string

HostbasedAcceptedAlgorithms -ssh-ed25519
# <- keyword
#                           ^ constant.builtin.string

HostbasedAcceptedAlgorithms ^ssh-ed25519
# <- keyword
#                           ^ constant.builtin.string
