HostbasedAuthentication yes
# <- keyword
#                       ^ constant.builtin.boolean

HostbasedAuthentication no
# <- keyword
#                       ^ constant.builtin.boolean

HostbasedAuthentication true
# <- keyword
#                       ^ constant.builtin.boolean

HostbasedAuthentication false
# <- keyword
#                       ^ constant.builtin.boolean
