IdentitiesOnly yes
# <- keyword
#              ^ constant.builtin.boolean

IdentitiesOnly no
# <- keyword
#              ^ constant.builtin.boolean

IdentitiesOnly true
# <- keyword
#              ^ constant.builtin.boolean

IdentitiesOnly false
# <- keyword
#              ^ constant.builtin.boolean
