IPQoS af11
# <- keyword
#     ^ constant.builtin.string

IPQoS af12
# <- keyword
#     ^ constant.builtin.string

IPQoS af13
# <- keyword
#     ^ constant.builtin.string

IPQoS af21
# <- keyword
#     ^ constant.builtin.string

IPQoS af22
# <- keyword
#     ^ constant.builtin.string

IPQoS af23
# <- keyword
#     ^ constant.builtin.string

IPQoS af31
# <- keyword
#     ^ constant.builtin.string

IPQoS af32
# <- keyword
#     ^ constant.builtin.string

IPQoS af33
# <- keyword
#     ^ constant.builtin.string

IPQoS af41
# <- keyword
#     ^ constant.builtin.string

IPQoS af42
# <- keyword
#     ^ constant.builtin.string

IPQoS af43
# <- keyword
#     ^ constant.builtin.string

IPQoS cs0
# <- keyword
#     ^ constant.builtin.string

IPQoS cs1
# <- keyword
#     ^ constant.builtin.string

IPQoS cs2
# <- keyword
#     ^ constant.builtin.string

IPQoS cs3
# <- keyword
#     ^ constant.builtin.string

IPQoS cs4
# <- keyword
#     ^ constant.builtin.string

IPQoS cs5
# <- keyword
#     ^ constant.builtin.string

IPQoS cs6
# <- keyword
#     ^ constant.builtin.string

IPQoS cs7
# <- keyword
#     ^ constant.builtin.string

IPQoS ef
# <- keyword
#     ^ constant.builtin.string

IPQoS le
# <- keyword
#     ^ constant.builtin.string

IPQoS lowdelay
# <- keyword
#     ^ constant.builtin.string

IPQoS throughput
# <- keyword
#     ^ constant.builtin.string

IPQoS reliability
# <- keyword
#     ^ constant.builtin.string

IPQoS 100
# <- keyword
#     ^ constant.builtin.string

IPQoS none
# <- keyword
#     ^ constant.builtin.string
