IPQoS af11
# <- keyword
#     ^ type

IPQoS af12
# <- keyword
#     ^ type

IPQoS af13
# <- keyword
#     ^ type

IPQoS af21
# <- keyword
#     ^ type

IPQoS af22
# <- keyword
#     ^ type

IPQoS af23
# <- keyword
#     ^ type

IPQoS af31
# <- keyword
#     ^ type

IPQoS af32
# <- keyword
#     ^ type

IPQoS af33
# <- keyword
#     ^ type

IPQoS af41
# <- keyword
#     ^ type

IPQoS af42
# <- keyword
#     ^ type

IPQoS af43
# <- keyword
#     ^ type

IPQoS cs0
# <- keyword
#     ^ type

IPQoS cs1
# <- keyword
#     ^ type

IPQoS cs2
# <- keyword
#     ^ type

IPQoS cs3
# <- keyword
#     ^ type

IPQoS cs4
# <- keyword
#     ^ type

IPQoS cs5
# <- keyword
#     ^ type

IPQoS cs6
# <- keyword
#     ^ type

IPQoS cs7
# <- keyword
#     ^ type

IPQoS ef
# <- keyword
#     ^ type

IPQoS le
# <- keyword
#     ^ type

IPQoS lowdelay
# <- keyword
#     ^ type

IPQoS throughput
# <- keyword
#     ^ type

IPQoS reliability
# <- keyword
#     ^ type

IPQoS 100
# <- keyword
#     ^ type

IPQoS none
# <- keyword
#     ^ type

IPqOs af11
# <- keyword
#     ^ type
