KbdInteractiveAuthentication yes
# <- keyword
#                            ^ constant.builtin.boolean

KbdInteractiveAuthentication no
# <- keyword
#                            ^ constant.builtin.boolean

KbdInteractiveAuthentication true
# <- keyword
#                            ^ constant.builtin.boolean

KbdInteractiveAuthentication false
# <- keyword
#                            ^ constant.builtin.boolean
