KexAlgorithms ssh-ed25519,ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521
# <- keyword
#             ^ identifier

KexAlgorithms +ssh-ed25519
# <- keyword
#             ^ identifier

KexAlgorithms -ssh-ed25519
# <- keyword
#             ^ identifier

KexAlgorithms ^ssh-ed25519
# <- keyword
#             ^ identifier
