LogLevel INFO
# <- keyword
#        ^ type

LogLevel QUIET
# <- keyword
#        ^ type

LogLevel FATAL
# <- keyword
#        ^ type

LogLevel ERROR
# <- keyword
#        ^ type

LogLevel VERBOSE
# <- keyword
#        ^ type

LogLevel DEBUG
# <- keyword
#        ^ type

LogLevel DEBUG1
# <- keyword
#        ^ type

LogLevel DEBUG2
# <- keyword
#        ^ type

LogLevel DEBUG3
# <- keyword
#        ^ type
