LogLevel INFO
# <- keyword
#        ^ constant.builtin.string

LogLevel QUIET
# <- keyword
#        ^ constant.builtin.string

LogLevel FATAL
# <- keyword
#        ^ constant.builtin.string

LogLevel ERROR
# <- keyword
#        ^ constant.builtin.string

LogLevel VERBOSE
# <- keyword
#        ^ constant.builtin.string

LogLevel DEBUG
# <- keyword
#        ^ constant.builtin.string

LogLevel DEBUG1
# <- keyword
#        ^ constant.builtin.string

LogLevel DEBUG2
# <- keyword
#        ^ constant.builtin.string

LogLevel DEBUG3
# <- keyword
#        ^ constant.builtin.string
