MACs hmac-sha2-512-etm@openssh.com,hmac-sha1-etm@openssh.com
# <- keyword
#    ^ constant.builtin.string

MACs +hmac-sha2-512-etm@openssh.com
# <- keyword
#    ^ constant.builtin.string

MACs -hmac-sha2-512-etm@openssh.com
# <- keyword
#    ^ constant.builtin.string

MACs ^hmac-sha2-512-etm@openssh.com
# <- keyword
#    ^ constant.builtin.string
