NoHostAuthenticationForLocalhost yes
# <- keyword
#                                ^ constant.builtin.boolean

NoHostAuthenticationForLocalhost no
# <- keyword
#                                ^ constant.builtin.boolean

NoHostAuthenticationForLocalhost true
# <- keyword
#                                ^ constant.builtin.boolean

NoHostAuthenticationForLocalhost false
# <- keyword
#                                ^ constant.builtin.boolean
