PasswordAuthentication yes
# <- keyword
#                      ^ constant.builtin.boolean

PasswordAuthentication no
# <- keyword
#                      ^ constant.builtin.boolean

PasswordAuthentication true
# <- keyword
#                      ^ constant.builtin.boolean

PasswordAuthentication false
# <- keyword
#                      ^ constant.builtin.boolean
