PermitRemoteOpen any
# <- keyword
#                ^ string

PermitRemoteOpen 0.0.0.0:1234
# <- keyword
#                ^ string

PermitRemoteOpen *:3000
# <- keyword
#                ^ string

PermitRemoteOpen 127.0.0.1:*
# <- keyword
#                ^ string

PermitRemoteOpen *:*
# <- keyword
#                ^ string
