PermitLocalCommand yes
# <- keyword
#                  ^ constant.builtin.boolean

PermitLocalCommand no
# <- keyword
#                  ^ constant.builtin.boolean

PermitLocalCommand true
# <- keyword
#                  ^ constant.builtin.boolean

PermitLocalCommand false
# <- keyword
#                  ^ constant.builtin.boolean
