ProxyUseFdpass yes
# <- keyword
#              ^ constant.builtin.boolean

ProxyUseFdpass no
# <- keyword
#              ^ constant.builtin.boolean

ProxyUseFdpass true
# <- keyword
#              ^ constant.builtin.boolean

ProxyUseFdpass false
# <- keyword
#              ^ constant.builtin.boolean
