PubkeyAuthentication yes
# <- keyword
#                    ^ constant.builtin.string

PubkeyAuthentication no
# <- keyword
#                    ^ constant.builtin.string

PubkeyAuthentication true
# <- keyword
#                    ^ constant.builtin.string

PubkeyAuthentication false
# <- keyword
#                    ^ constant.builtin.string

PubkeyAuthentication unbound
# <- keyword
#                    ^ constant.builtin.string

PubkeyAuthentication host-bound
# <- keyword
#                    ^ constant.builtin.string
