PubkeyAcceptedAlgorithms ssh-ed25519,ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521
# <- keyword
#                        ^ identifier

PubkeyAcceptedAlgorithms +ssh-ed25519
# <- keyword
#                        ^ identifier

PubkeyAcceptedAlgorithms -ssh-ed25519
# <- keyword
#                        ^ identifier

PubkeyAcceptedAlgorithms ^ssh-ed25519
# <- keyword
#                        ^ identifier
