RequiredRSASize 1024
# <- keyword
#               ^ constant.numeric.integer

RequiredRSASize=1024
# <- keyword
#               ^ constant.numeric.integer

RequiredRSASize="1024"
# <- keyword
#                ^ constant.numeric.integer

RequiredRSASize "1024"
# <- keyword
#                ^ constant.numeric.integer
