RequestTTY yes
# <- keyword
#          ^ constant.builtin.string

RequestTTY no
# <- keyword
#          ^ constant.builtin.string

RequestTTY true
# <- keyword
#          ^ constant.builtin.string

RequestTTY false
# <- keyword
#          ^ constant.builtin.string

RequestTTY auto
# <- keyword
#          ^ constant.builtin.string

RequestTTY force
# <- keyword
#          ^ constant.builtin.string
