StreamLocalBindUnlink yes
# <- keyword
#                     ^ constant.builtin.boolean

StreamLocalBindUnlink no
# <- keyword
#                     ^ constant.builtin.boolean

StreamLocalBindUnlink true
# <- keyword
#                     ^ constant.builtin.boolean

StreamLocalBindUnlink false
# <- keyword
#                     ^ constant.builtin.boolean
