StrictHostKeyChecking yes
# <- keyword
#                     ^ constant.builtin.string

StrictHostKeyChecking no
# <- keyword
#                     ^ constant.builtin.string

StrictHostKeyChecking off
# <- keyword
#                     ^ constant.builtin.string

StrictHostKeyChecking accept-new
# <- keyword
#                     ^ constant.builtin.string
