SyslogFacility DAEMON
# <- keyword
#              ^ constant.builtin.string

SyslogFacility USER
# <- keyword
#              ^ constant.builtin.string

SyslogFacility AUTH
# <- keyword
#              ^ constant.builtin.string

SyslogFacility LOCAL0
# <- keyword
#              ^ constant.builtin.string

SyslogFacility LOCAL1
# <- keyword
#              ^ constant.builtin.string

SyslogFacility LOCAL2
# <- keyword
#              ^ constant.builtin.string

SyslogFacility LOCAL3
# <- keyword
#              ^ constant.builtin.string

SyslogFacility LOCAL4
# <- keyword
#              ^ constant.builtin.string

SyslogFacility LOCAL5
# <- keyword
#              ^ constant.builtin.string

SyslogFacility LOCAL6
# <- keyword
#              ^ constant.builtin.string

SyslogFacility LOCAL7
# <- keyword
#              ^ constant.builtin.string
