SyslogFacility DAEMON
# <- keyword
#              ^ type

SyslogFacility USER
# <- keyword
#              ^ type

SyslogFacility AUTH
# <- keyword
#              ^ type

SyslogFacility LOCAL0
# <- keyword
#              ^ type

SyslogFacility LOCAL1
# <- keyword
#              ^ type

SyslogFacility LOCAL2
# <- keyword
#              ^ type

SyslogFacility LOCAL3
# <- keyword
#              ^ type

SyslogFacility LOCAL4
# <- keyword
#              ^ type

SyslogFacility LOCAL5
# <- keyword
#              ^ type

SyslogFacility LOCAL6
# <- keyword
#              ^ type

SyslogFacility LOCAL7
# <- keyword
#              ^ type
